<!-- your html code here -->
<div class="container bg-white mw-75">
<div class="row">
    <div class="col-4">
        <img src="./assets/img/2.jpg" alt="" class="rounded-circle m-3">
    </div>

    <div class="col-8 pt-3">
        <h1>The Second Heading <span class="text-secondary">Is Pretty Cool Too.</span></h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis porta felis. In ex diam, imperdiet eu eros id, eleifend convallis massa. Cras vulputate sapien massa, at ultricies ipsum iaculis in. Nullam dictum nibh ac erat vestibulum fermentum.</p>
    </div>
</div>
</div>